{% extends 'base.html' %}
{% block title %} My tasks {% endblock %}
{% block content %}

<center>
    <div class="container align-items-center py-5">
    <h1>Create a Task</h1>
    <form action="{% url 'task_view' %}" method="POST">
        {% csrf_token %}
        Task: {{ form.title }}
    <button type="submit">Save</button>
    </form>
    <hr style="color: red;">
    <h3>Your Tasks</h3>
    <div class="">
        <ul>
            {% for task in tasks %}
                <li style="list-style: none;">
                    {% if task.done %}
                        <div class="">
                            {{ task.id }}:
                            <a href="{% url 'task_update' task.id %}">
                                <s style="color: black;"><strong>{{ task.title }}</strong>
                                </s>
                            </a>
                            <a style="color: red; margin-left: 5px;" href="{% url 'task_delete' task.id %}">Delete</a>
                        </div>
                    {% else %}
                        {{ task.id }}: <strong>{{ task.title }}</strong>

                        <a style="color: green;" href="{% url 'task_update' task.id %}">Edit</a>
                        <a style="color: red;" href="{% url 'task_delete' task.id %}">Delete</a>
                    {% endif %}
                </li>
                {% empty %}
                <h3 class="py-5" style="color: red;">No tasks created yet ! </h3>
            {% endfor %}
        </ul>
    </div>
    </div>
</center>
{% endblock %}