{% extends 'mytaskapp/base.html' %}
{% block title %} Update tasks {% endblock %}

{% block content %}

<center>
    <div class="container align-items-center py-4">
        <h1>Task {{ task.id }}</h1>
        <form action="{% url 'task_update' task.id %}" method="POST">
            {% csrf_token %}
            <div class="">
                <div class="mb-4">
                    <input type="text" value="{{ task.title }}"><br>
                </div>
            </div>
            <input style="color: blue;" value="Update" type="submit">
            <a type="button" style="color: green;" href="{% url 'task_view' %}">Cancel</a>
            <a type="button" style="color: red;" href="{% url 'task_delete' task.id %}">Delete</a>
        </form>
    </div>
</center>
{% endblock %}
