{% extends 'base.html' %}
{% block title %}  My Website | posts {% endblock %}
{% block content %}
<div class="container d-flex">
    <ul>
        {% for blog in blogs %}
            <div class="row">
                <div class="col-md-12 w-100">
                    <div class="card" style="width: 100%; display: block;">
                        <div class="card-body">
                        <strong><a href="{% url 'blog-detail' blog.id %}"><h5>{{ blog.title }}</h5></a></strong>
                        <h5 class="card-title"><strong>{{ blog.author }}</strong> <small style="color: grey;">{{ blog.created }}</small></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                        <p class="card-text">{{ blog.body|slice:":250" }}...</p>
                        {% if user.is_authenticated %}
                            {% if user == blog.author %}
                            <a href="{% url 'blog-update' blog.id %}">Edit</a> |
                            <a style="color: red;" href="{% url 'blog-delete' blog.id %}">Delete</a>
                            {% endif %}
                        {% else %}
                            <p>Unauthorized</p>
                        {% endif %}
                        <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% empty%}
            <h1 style="color: red;">No posts found!</h1>
        {% endfor %}
    </ul>
</div>
{% endblock %}