
{% extends 'base.html' %}
{% block title %} {{ blog.title }} {% endblock %}
{% block content %}
<div class="container"><h1>{{ blog.title }}</h1>
<br>
    <a href="">{{ user|capfirst }}</a><br>
    <small style="color: grey;">{{ blog.created|timesince }} ago</small>
    <hr>
    {{ blog.body }}
    <br><br>
    <a style="color: black;" href="{% url 'blogs' %}">Back</a>
    {% if user.is_authenticated %}
        {% if user == blog.user %}
        <a href="{% url 'blog-update' blog.id %}">Edit</a> |
        <a style="color: red;" href="{% url 'blog-delete' blog.id %}">Delete</a>
        {% endif %}
    {% endif %}
{% endblock %}