
{% extends 'base.html' %}
{% block title %} {{ blog.title }} {% endblock %}
{% block content %}
    <h1>{{ blog.title|capfirst }}</h1>
<br>
    <h5 class="card-title"><strong>{{ blog.author|capfirst }}</strong> <small style="color: grey;">{{ blog.created|timesince }} ago</small></h5>
    <hr>
    {{ blog.body|capfirst }}
    <br><br>
    <a style="color: black;" href="{% url 'blogs' %}">Back</a>
        <a href="{% url 'blog-update' blog.id %}">Edit</a> |
        <a style="color: red;" href="{% url 'blog-delete' blog.id %}">Delete</a>
{% endblock %}